{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block body_css %}login-body{% endblock body_css %}

{% block content %}
    <section>
        <div class="form-base login-form">
            <h2>Welcome To <br>Clickr</h2>
            <p class="text-center yellow"><i>where you are paid for liking what you like.</i></p>
{#            <h2>{% trans "Log in" %}</h2>#}
{#            <form class="login" method="POST" action="{% url 'account_login' %}">#}
{#                {% csrf_token %}#}
{##}
{#                {{ form.non_field_errors }}#}
{##}
{#                <input type="text" name="login" class="form-control sharp" placeholder="Email" required=""#}
{#                       autofocus="" id="login">#}
{#                <input type="password" name="password" class="form-control sharp" placeholder="Password" required=""#}
{#                       id="login">#}
{##}
{#                {% if redirect_field_value %}#}
{#                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
{#                {% endif %}#}
{##}
{#                <button class="btn button-full-width sharp" type="submit">{% trans "Log in" %}</button>#}
{##}
{#                <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{##}
{#                <hr/>#}
{#            </form>#}

            <div style="margin-top:50px;">
                {% load socialaccount %}
                {% providers_media_js %}
                <a href="{% provider_login_url "facebook" method="js_sdk" %}" id="fb-login-button" class="btn sharp">Login with Facebook</a>
            </div>

            <div class="row">
                <div class="text-center">
{#                    <p>By signing up you indicate that you have read and agree to the Terms of Service and Privacy Policy.</p>#}
{#                    <a class="" href="{{ signup_url }}">Create an account</a>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
