{% extends "base.html" %}
{% load css_extras %}

{% block content %}

    <section>
        <div class="container">
            {% for post in post_list %}
                <div class="row" style="border-bottom:1px solid #303030;padding:10px 10px;">
                    <div class="col-xs-2">
                        <a href="{% url "posts:post_detail" post.id %}"><img class="centered-and-cropped"
                                                                             src="{{ post.picture_url }}"
                                                                             style="width:100px;height:100px;"></a>
                    </div>
                    <div class="col-xs-4">
                        <p>{% if todays_date < post.post_ends %}Ends on {{ post.post_ends }}{% else %}
                            <span class="positive">Completed</span>{% endif %}</p>
                        <p>
                            <small>Promoted on {{ post.post_starts }}</small>
                        </p>
                        {% if todays_date < post.post_ends %}
                            <a href="{% url 'posts:status_change' user_post_id=post.user_post_id status=post.post_status %}">
                                {% if post.post_status == 0 %}
                                    <span class="positive">Active</span>
                                {% else %}
                                    <span class="negative">Deactivated</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-xs-2">
                        <h4><i class="fa fa-thumbs-up positive" aria-hidden="true"
                               title="Likes Count"></i> {{ post.likes.count }}</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4><i class="fa fa-share-alt yellow" aria-hidden="true"
                               title="Shares Count"></i> {{ post.shares.count }}</h4>
                    </div>
                    <div class="col-xs-2">
                        <h4><i class="fa fa-dollar" aria-hidden="true"
                               title="Promotion Cost"></i> {{ post.shared_with_friends|divide:"1000" }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}


{% block customscripts %}

{% endblock customscripts %}