{% extends "base.html" %}
{% load css_extras %}
{% load staticfiles %}

{% block head %}
{% endblock head %}

{% block content %}

    <section>
        <div class="container">
            <div class="row" style="margin-top:50px;">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div class="col-md-6 col-md-offset-3">
                        {% for error in form.non_field_errors %}
                            <p class="text-center negative">{{ error }}</p>
                        {% endfor %}
                        {% render_field form.url "url" "Link Your Facebook Post Here" "form-input" "form-label" %}
                        {% render_field form.post_ends "post_ends" "Promote This Post Until" "form-input" "form-label" %}
                        {% render_field form.gender_targeted "gender_targeted" "Gender" "form-input" "form-label" %}
                        {% render_field form.countries_targeted "countries_targeted" "Countries" "form-input" "form-label" %}
                    </div>

                    {{ form.my_user.as_hidden }}

                    <div class="col-md-6 col-md-offset-3">
                        <input class="promote-button" type="submit" value="Promote a post">
                    </div>

                </form>

            </div>
        </div>
    </section>

{% endblock %}


{% block customscripts %}
    {{ form.media }}
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#id_url").attr("placeholder", "url");
            $("#datepicker").attr("placeholder", "date");
            $('#datepicker').datepicker({dateFormat: "yy-mm-dd", minDate: 1, orientation: "left"});
        });
    </script>
{% endblock customscripts %}