{% extends "base.html" %}
{% load css_extras %}

{% block head %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row" style="padding:30px 10px 30px 10px;">
                    <div class="col-xs-2">
                        <img class="centered-and-cropped" src="{{ post.picture_url }}" style="width:100px;height:100px;">
                    </div>
                    <div class="col-xs-4">
                        <p>{% if todays_date < post.post_ends %}Ends on {{ post.post_ends }}{% else %}<span style="color:green">Completed</span>{% if post.post_ends %}<small> ({{ post.post_ends|date:"M. d, Y" }})</small>{% endif %}{% endif %}</p>
                        <p><small>Promoted on {{ post.post_starts }}</small></p>
                        {% if todays_date < post.post_ends %}
                            <a href="{% url 'posts:status_change' user_post_id=post.user_post_id status=post.post_status %}"
                               class="">
                                {% if post.post_status == 0 %}
                                    <span style="color:green;">Active</span>
                                {% else %}
                                    <span style="color:red;">Deactivated</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-xs-3">
                        <h4><i class="fa fa-dollar" aria-hidden="true" title="Promotion Cost"></i> {{  post.shared_with_friends|divide:"1000" }}</h4>
                        <h4><i class="fa fa-thumbs-up positive" aria-hidden="true" title="Likes Count"></i> {{ post.likes.count }}</h4>
                    </div>
                    <div class="col-xs-3">
                        <h4><i class="fa fa-share-alt yellow" aria-hidden="true" title="Shares Count"></i> {{ post.shares.count }}</h4>
                        <h4><i class="fa fa-user-circle-o yellow" aria-hidden="true" title="Shared Among"></i> {{ post.shared_with_friends }}</h4>
                    </div>
                    </div>
            <div class="row">
                <div id="container" style="width:100%; height:400px;"></div>
            </div>
            <div class="row" style="padding-top:30px;">
                <h4>People who shared this post</h4>
                {% for sharedpost in post.sharesextra_set.all %}
                    <div class="col-md-6">
                        <a href="{{ sharedpost.user.socialaccount_set.all.0.extra_data.link }}" target="_blank">
                            <p><img src="{{ sharedpost.user.socialaccount_set.all.0.get_avatar_url }}" width="30"
                                 height="30">
                            {{ sharedpost.user.first_name }} {{ sharedpost.user.last_name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}


{% block customscripts %}
    <script>

        Highcharts.chart('container', {

            title: {
                text: 'Engagement Growth'
            },

{#            subtitle: {#}
{#                text: 'Source: thesolarfoundation.com'#}
{#            },#}

            credits: false,

            xAxis: {
                type: 'datetime',
                tickInterval: 24 * 3600 * 1000,
{#                dateTimeLabelFormats: {#}
{#                    day: '%d %b %Y'    //ex- 01 Jan 2016#}
{#                }#}
            },

            yAxis: {
                tickInterval: 1,
                title: {
                    text: 'Count'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    pointInterval: 24 * 3600 * 1000, // one day
{#                    pointStart: Date.UTC(2011, 11, 22),#}
                    pointStart: 1000*{{ start_date }}
                }
            },

            tooltip: {
                xDateFormat: '%Y-%m-%d'
            },

            series: [{
                name: 'Likes',
                color: '#97CE68',
                data: {{ likes }}
            }, {
                name: 'Shares',
                color: '#f1c40f',
                data: {{ shares }}
            }]
        });
    </script>
{% endblock %}