{% load embed_video_tags %}
{% load el_pagination_tags %}

{% paginate 5 post_list %}
{% for post in post_list %}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-1"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-sm-12 single-post"
                     {% if forloop.last %}style="border-bottom: 1px solid silver;"{% endif %}>
                    <div class="post-header">
                        <img src="{{ post.my_user.socialaccount_set.all.0.get_avatar_url }}"
                             style="width:40px; height:40px;">
                        <a target="_blank"
                           href="{{ post.my_user.socialaccount_set.all.0.extra_data.link }}">
                            {{ post.my_user.socialaccount_set.all.0.extra_data.name }}</a>
                        shared a <a target="_blank" href="{{ post.url }}">
                        link</a> on
                        {{ post.post_starts|date:"j M h:i a" }}
                    </div>

                    {% if post.message %}
                        <div class="post-message" style="margin: 10px 0px;">
                            {{ post.message }}
                        </div>
                    {% else %}
                        <br>
                    {% endif %}

                    <div class="post-body">
                        {% if post.video_url %}
                            {% video post.video_url 'small' %}
                        {% elif post.video_fb %}
                            <video src="{{ post.video_fb }}" controls></video>
                        {% elif post.picture_url %}
                            <img src="{{ post.picture_url }}" class="img-responsive">
                        {% endif %}
                        {% if post.name != "Timeline Photos" and post.name != null and "cover photo" not in post.name %}
                            <h4>{{ post.name }}</h4>
                        {% endif %}
                        {% if post.description %}
                            <p>{{ post.description }}</p>
                        {% endif %}
                        {% if post.caption %}
                            <p>{{ post.caption | upper }}</p>
                        {% endif %}
                        <br>
                    </div>
                    {% if user.is_clicker %}
                        <div>
                            <button id="{{ post.id }}" type="button"
                                    class="btn like-button {% if user in post.likes.all %}like-button-active{% endif %}">
                                {% if user in post.likes.all %}Liked{% else %}Like{% endif %}
                                | {{ post.total_likes }}</button>
                            <button id="{{ post.id }}" type="button"
                                    class="btn share-button {% if user in post.shares.all %}share-button-active{% endif %}"
                                    {% if user in post.shares.all %}disabled{% endif %}>
                                {% if user in post.shares.all %}Shared{% else %}Share{% endif %}
                                | {{ post.total_shares }}</button>
                        </div><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% show_more %}

