.withdraw-deposit,
.promote-button {
    font-family: "Montserrat", sans-serif;
    background-color: #f1c40f;
    border: none;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    margin-top: 0;
    width: 100%;
}
.withdraw-deposit:hover,
.withdraw-deposit:focus,
.promote-button:hover,
.promote-button:focus {
    color: #fff;
    background-color: #97CE68;
}

.form-control {
    border: 1px solid #aaa;
    border-radius: 2px;
    height: 40px;
    outline: medium none;
    padding-left: 10px;
    margin-bottom: 15px;
}

.action-signup-small {
    border: 2px solid lightskyblue;
    padding: 7px 10px;
    border-radius: 2px;
    color: lightskyblue ;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
}

input.action-signup-small {
    background-color: #fff;
    line-height: 15px;
}

.action-signup-small:hover,
.action-signup-small:focus {
    color: steelblue;
    border-color: steelblue;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-top: 70px;
    height: 100%;
    min-height: 100%;
    margin: 0;
    background-color: #f8f8f8;
}

h2 {
    font-weight: 700;
    color: #fff;
}

.fa {
    color: #303030;
    cursor: pointer;
}

.positive {
    color: #97CE68;
}

.yellow {
    color: #f1c40f;
}

.negative {
    color: #F1654C;
}

.brown {
    color: #303030;
}

button:focus {
    text-decoration: none !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.close-button{
    font-family: "Montserrat", sans-serif;
    border: none;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
}

.share-to-fb-button,
.like-button,
.share-button {
    font-family: "Montserrat", sans-serif;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    background-color: #f1c40f !important;
    border-radius: 0;
}

.share-to-fb-button:hover,
.share-to-fb-button:focus,
.like-button:hover,
.share-button:hover,
.like-button-active,
.like-button-active:focus,
.share-button-active,
.share-button-active:focus {
    color: #fff;
    background-color: #97CE68 !important;
}

.like-button-active:hover,
.share-button-active:hover {
    color: gray;
}

.form-base {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
}

.login-form {
    width: 300px;
    height: 300px;
    padding: 0px 15px;
    background-color: #303030;
}

.signup-form {
    width: 340px;
    height: 340px;
    padding: 0px 15px;
    background-color: white;
}

.pass-reset-form {
    width: 340px;
    height: 300px;
    padding: 0px 15px;
    background-color: white;
}

.button-full-width {
    width:100%;
}

.sharp {
    border-radius: 0;
}

#fb-login-button {
    font-size: 15px;
    color: white;
    background: #3b5998;
    border: none;
    height: 40px;
    width:100%;
}

.centered-and-cropped {
    object-fit: cover;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-body {
    background-color: #303030 !important;
}

.navbar {
    background-color: #fff;
}

.icon-bar {
    color: red !important;
}

.navbar-brand > img {
    height: 100%;
    padding: 8px;
    margin-right: -12px;
    width: auto;
}

.single-post {
    background-color: white;
    padding-top:20px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.quick-info {
    position: fixed;
    z-index: 999;
}

[data-toggle] {
    cursor: pointer;
}






/*stil koledarja*/
.ui-datepicker {
  width: 216px;
  height: auto;
  margin: -32px auto 0 -250px;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: url('../img/dark_leather.png') repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
  background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}
.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
  background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
  background: linear-gradient(top,  #ededed 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}

/* General button style (reset) */
.role-btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: black;
	background: white;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

.btn-1a:hover,
.btn-1a:active {
	color: white;
	background: #f1c40f;
}


/*.messages-content {*/
    /*position: relative;*/
/*}*/

/*.messages-content-inner {*/
    /*width: 100%;*/
/*}*/

/*.messages {*/
    /*position: relative;*/
    /*width:100%;*/
    /*z-index: 1000;*/
     /*margin-top:20px;*/
/*}*/

/*.messages-content .messages-content-inner .messages .alert {*/
    /*margin-bottom: 0;*/
/*}*/