{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Pick role" %}{% endblock %}
{% block body_css %}login-body{% endblock body_css %}

{% block content %}
    <section>
        <div class="container">
            <div class="row" style="margin-top:250px;">
                <div class="col-sm-12 text-center">
                    <h2>Let's get started!</h2>
                    <h2>First, tell us what you're looking for.</h2>
                </div>
            </div>
            <form method="POST">{% csrf_token %}
                <div class="row" style="margin-top:50px;">
                    <div class="col-sm-6 text-center">
                        <h4 class="text-center yellow">I want to share others posts</h4>
                        <br>
                        <button id="client_button" class="role-btn btn-1a sharp" type="submit" value="client">Clicker
                        </button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <h4 class="text-center yellow">I want to boost my posts</h4>
                        <br>
                        <button id="company_button" class="role-btn btn-1a sharp" type="submit" value="company">Booster
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(".btn-1a").click(function(e){
            e.preventDefault();
            var csrftoken = getCookie('csrftoken');
            var role_picked = $(this).attr('value');

            $.ajax({
                url:'{% url 'accounts:pick_role' %}',
                type:'POST',
                data:{
                    role_picked: role_picked,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function(){
                    window.location.reload(true);
                },
            });
        });

    </script>
{% endblock customscripts %}