{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            {% if user.is_clicker %}
                <div class="col-xs-12">
                    <h3>You are currenty having <span id="credit">{{ user.credit }}</span> credit on your account.</h3>
                    {% if user.credit > 0 %}
                    <h3>You can withdraw it.</h3>
                    <input class="withdraw-deposit" type="submit" value="Withdraw" style="width: 13%">
                        {% else %}
                        <h3>Come back when you have more to withraw.</h3>
                        {% endif %}
                </div>
            {% elif user.is_company %}
                <div>
                    <h3>You are currenty having <span id="credit">{{ user.credit }}</span> credit on your account.</h3>
                    <h3>Deposit more <i class="fa fa-dollar"></i> <input type="number" name="deposit" value="5" min="5" max="100"></h3>
                    <br>
                    <input class="withdraw-deposit" type="submit" value="Deposit" style="width: 13%">
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block customscripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(".withdraw-deposit").click(function () {
            var csrftoken = getCookie('csrftoken');
            var action = this.value;
            var amount = 0;

            if (action == "Deposit") {
                amount = $('input[name="deposit"]').val();
            }

            $.ajax({
                url: '{% url 'accounts:profile' %}',
                type: 'POST',
                data: {
                    action: action,
                    amount: amount,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                success: function (response) {
                    $('#credit').html(response.credit);
                    location.reload()
                }
            });
        });
    </script>
{% endblock customscripts %}