{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clicker</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">

    <link rel="stylesheet" href="{% static "css/simple-line-icons.css" %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css">


    {% block head %}

    {% endblock head %}

</head>

<body class="{% block body_css %}{% endblock body_css %}">

    {% if user.is_authenticated and user.role != "UNDEFINED" %}
    <section>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'posts:home' %}">Clickr</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="{% if request.path == '/' %}active{% endif %}"><a href="{% url 'posts:home' %}">Home</a></li>
                            {% if user.is_company %}
                                <li class="{% if request.path == '/post/new/' %}active{% endif %}"><a href="{% url 'posts:post_create' %}">Promote</a></li>
                                <li class="{% if request.path == '/my-posts/' %}active{% endif %}"><a href="{% url 'posts:my_posts' %}">My Posts</a></li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                                <li class="navbar-brand" style="padding: 0px;"><img
                                        src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></li>
                                <li><a href="{% url 'accounts:profile' %}">{{ user.socialaccount_set.all.0.extra_data.name }}</a></li>
                            {% endif %}
                            <li><a href="{% url 'account_logout' %}"><small class="glyphicon glyphicon-log-out"></small> logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </section>
    {% endif %}

    <section>
        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="messages-content">
                            <div class="messages-content-inner">
                                <div class="messages">
                                    {% for message in messages %}
                                        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                            <a id="alert-message-close" href="#" class="close" data-dismiss="alert"
                                               aria-label="close">&times;</a>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

{#<nav>#}
{#    <div>#}
{#        <div>#}
{#            <ul>#}
{#                {% if user.is_authenticated %}#}
{#                    <li>Hi {{ user.first_name }}</li>#}
{#                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>#}
{#                {% else %}#}
{#                    <li><a href="{% url 'account_login' %}">Sign In</a></li>#}
{#                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

{% block content %}

{% endblock content %}

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

{% block customscripts %}

{% endblock customscripts %}

</body>

</html>
