{% load css_extras %}

<div class="form-group {% if field.form_field.errors %}has-error{% endif %}">
    {% if field.label %}
        <label for="{{ field.name }}" class="{{ field.label_class }}">{{ field.label }}</label><br />
    {% endif %}

    {% if field.icon %}
        <div class="input-group">
    {% endif %}

    {% if field.additional_class %}
        {% with "form-control "|add:field.additional_class as field_class %}
            {{ field.form_field | addcss:field_class }}
        {% endwith %}
    {% else %}
        {{ field.form_field | addcss:"form-control" }}
    {% endif %}

    {% if field.icon %}
        <span class="input-group-addon"><a><i class="fa {{ field.icon }}"></i></a></span>
        </div>
    {% endif %}

    {% if field.form_field.errors %}
        <span>{{ field.form_field.errors.as_text }}</span>
    {% endif %}

</div>
