{% extends "base.html" %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% load css_extras %}

{% block content %}

    <section>
        {% if user.is_clicker %}
            <div class="quick-info col-lg-offset-7 col-md-offset-8 col-md-2 hidden-sm hidden-xs"
                 style="left:20px;width:250px;background-color: white;">
                <h3><i class="fa fa-dollar" aria-hidden="true"></i><span id="user_credit" data-toggle="tooltip" title="account balance" data-placement="right"> {{ user.credit }}</span></h3>
                <h3><i class="fa fa-thumbs-up positive" aria-hidden="true"></i><span data-toggle="tooltip" title="total posts liked" data-placement="right"
                        id="user_total_likes"> {{ user.likes.count }}</span></h3>
                <h3><i class="fa fa-share-alt yellow" aria-hidden="true"></i><span data-toggle="tooltip" title="total posts shared" data-placement="right"
                        id="user_total_shares"> {{ user.shares.count }}</span></h3>
            </div>
        {% elif user.is_company %}
            <div class="quick-info col-lg-offset-7 col-md-offset-8 col-md-2 hidden-sm hidden-xs"
                 style="left:20px;width:250px;background-color: white;">
                <h3><i class="fa fa-dollar"></i><span data-toggle="tooltip" title="account balance" data-placement="right"> {{ user.credit }}</span></h3>
                <h3><i class="fa fa-hashtag" aria-hidden="true"></i><span data-toggle="tooltip" title="number of posts" data-placement="right"> {{ user.post_set.all.count }}</span></h3>
                <h3><i class="fa fa-thumbs-up positive" aria-hidden="true"></i><span data-toggle="tooltip" title="likes total" data-placement="right"> {{ user.post_set.all|get_sum:"likes" }}</span></h3>
                <h3><i class="fa fa-share-alt yellow" aria-hidden="true"></i><span data-toggle="tooltip" title="shares total" data-placement="right"
                        id="user_total_shares"> {{ user.post_set.all|get_sum:"shares" }}</span></h3>
            </div>
        {% endif %}
    </section>

    <section>
        <div class="container-fluid">
            {% include page_template %}
            <div id="share-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
{#                            <h2 class="modal-title" >Share</h2>#}
                        </div>
                        <form method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="share-message" placeholder="Say something about this..." style="border:none">
                            </div>
                        </form>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn close-button" data-dismiss="modal">Close</button>
                            <button type="button" id="share-to-fb" class="btn share-to-fb-button" data-dismiss="modal">Share</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block customscripts %}
    {{ block.super }}
    <script src="{% static "js/el-pagination.js" %}"></script>
    <script>
        $.endlessPaginate({paginateOnScroll: true});

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(".like-button").click(function () {
            var csrftoken = getCookie('csrftoken');
            var post_id = this.id;

            $.ajax({
                url: '{% url 'posts:like_share' %}',
                type: 'POST',
                data: {
                    action: "like",
                    post_id: post_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                context: this,
                success: function (response) {
                    var likes = response.likes_count;
                    $('#user_total_likes').html(" " + response.user_total_likes);
                    if (response.action == "disliked") {
                        $(this).html("Like | " + likes);
                        $(this).css("color", "white");
                        $(this).removeClass("like-button-active");
                    } else if (response.action == "liked") {
                        $(this).addClass("like-button-active");
                        $(this).html("Liked | " + likes);
                    }
                }
            });
        });

        var post_id = "";

        $(".share-button").click(function () {
            post_id = this.id;
            var img_url = $(this).closest('.row').find('.post-body').children('img').attr('src');
            var post_message = $(this).closest('.row').find('.post-message').html();
            $('.modal-body').html('<img src="' + img_url + '" class="img-responsive">');
            $('#share-modal').modal('show');
        });

        $("#share-to-fb").click(function () {
            var csrftoken = getCookie('csrftoken');
            var message = $('input[name="share-message"]').val();
            console.log(message);
            $.ajax({
                url: '{% url 'posts:like_share' %}',
                type: 'POST',
                data: {
                    action: "share",
                    message: message,
                    post_id: post_id,
                    csrfmiddlewaretoken: csrftoken
                },
                dataType: 'json',
                context: this,
                success: function (response) {
                    var post_id = response.post_id;
                    var $button = $('#' + post_id + ".share-button");
                    $('#user_total_shares').html(" " + response.user_total_shares);
                    $('#user_credit').html(" " + response.user_total_credit);
                    $button.addClass("share-button-active");
                    $button.prop("disabled", true);
                    $button.html("Shared | " + response.shares_count);
                }
            });
        });

    </script>
{% endblock customscripts %}